.calander {
    width: 100%;
    height: 95vh;
    display: block;
    text-align : center;
    background: #ddaf35;
}

table {
    margin: auto;
}

tr td{
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.td-day:hover {
    background-color: cornflowerblue;
    border-radius: 50%;
    cursor: pointer;
}